mainmenu "Flare configuration"

config ZEPHYR_BASE
		string
		option env="ZEPHYR_BASE"

source "$ZEPHYR_BASE/Kconfig.zephyr"

config FLARE_STATUS
	  bool
	  prompt "Enable running status LEDs"
	  default n
