mainmenu "Flare configuration"

config ZEPHYR_BASE
	string
	option env="ZEPHYR_BASE"

source "$ZEPHYR_BASE/Kconfig.zephyr"

config FLARE_STATUS
	bool
	prompt "Enable flashing status LEDs"
	default n

config FLARE_BLE_GATT
	bool
	prompt "Enable GATT services and characteristics"
	default n
